html {
    width: 100%;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
	-webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }


body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;  
    
}
.font1{
    font-family: 'Orbitron', sans-serif; 
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.card  {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f5f5f5;
    background-clip: border-box;
    border-radius: 1.1rem;
}
.listitem {
    background-color: white;
}
img{
    width: 170px;
    border-radius: 1.1rem;
}
.card :hover{
    background-color: rgb(236, 222, 222);
}
.listitem :hover{
    background-color: rgb(236, 222, 222);
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    border-radius: 1.1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}


  .loading {
    text-align:center;
    margin-top: 25px;
    transform:translateY(-50%);
  }
  
  .loading span {
    position:relative;
    z-index:1;
    color:#fff;
  }
  .loading:before {
    content:'';
    background:#61bdb6;
    width:120px;
    height:36px;
    display:block;
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    margin:auto;
    animation:2s loadingBefore infinite ease-in-out;
  }
  
  @keyframes loadingBefore {
    0%   {transform:translateX(-14px);}
    50%  {transform:translateX(14px);}
    100% {transform:translateX(-14px);}
  }
  
  
  .loading:after {
    content:'';
    background:#ff3600;
    width:14px;
    height:65px;
    display:block;
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    margin:auto;
    opacity:.5;
    animation:2s loadingAfter infinite ease-in-out;
  }
  
  @keyframes loadingAfter {
    0%   {transform:translateX(-50px);}
    50%  {transform:translateX(50px);}
    100% {transform:translateX(-50px);}
  }
  

  .btn--action{
    display: block;
    width: 50%;
    border-radius: 1.5rem;
    background-color: white;
    color: #000000;
    transition: all .5s ease 0s; 
    box-shadow: 0 3px #61bdb6;
  }
  
  /* .btn--action:hover{
  box-shadow: inset 0 0 0 .25rem #ffbe76;
  } */
  
  .btn--action span{
    display: inline-block;
    position: relative;
    transition: all .5s ease;
  }
  
  .btn--action span:before{
    content: '\f06e'; 
    color: #00a6ffdd;
    font-size: 1rem;
    font-family: FontAwesome;
    display: inline-block;
    position: absolute;
    left: 1.5rem;
    opacity: 0;
    transition: all .1s ease 0s;
  }
  
  .btn--action:hover span{
    padding-left: 1.5rem; 
    background-color: white;

  }
  .btn--action:hover {
    background-color: white;    
  }
  
  .btn--action:hover span:before{
    left: 0;
    opacity: 1;
  }
  